@use "sass:map";

/* color */
$white						: white;
$transparent				: #ffffff40;
$transparent_darker			: #00000061;
$darker						: #000000b3;

$main_color					: cadetblue;
$main_hover					: #538587;
$secondary_color			: brown;
$secondary_hover			: #ba4040;
