//html { height: 100%; }
//
body {
	//display: flex; height: 100%; justify-content: center; align-items: center; overflow: hidden;
	margin: 0; text-align: center;
	//> div { display: inline-block; }
}

.hide { display: none; }

div.container {
	display: flex; justify-content: center; grid-gap: 1rem; padding: 2rem;
	.btn { padding: 1rem; background-color: cadetblue; cursor: pointer; }
	.btn_use { background-color: gray; }
}

div.canvas { display: inline-block; position: relative; }

div.crop_background {
	position: absolute; top: 0; left: 0;
	background-color: #00000061;
	//clip-path: circle(200px at 50% 50%);
	//clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
	//clip-path: url("#triangle");
	//clip-path: polygon(0 0, 0 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0);
}

div.crop_container {
	position: absolute; top: 0; left: 0;
	> div {
		position: absolute; display: none;
		&.top { height: 8px; cursor: n-resize; }
		&.right { width: 8px; cursor: w-resize; }
		&.bottom { height: 8px; cursor: n-resize; }
		&.left { width: 8px; cursor: w-resize; }
		&.angle1 { width: 8px; height: 8px; cursor: nw-resize; }
		&.angle2 { width: 8px; height: 8px; cursor: ne-resize; }
	}
	&.act { > div { display: block; } }
}

