//html { height: 100%; }
//
body {
	//display: flex; height: 100%; justify-content: center; align-items: center; overflow: hidden;
	margin: 0; text-align: center;
	//> div { display: inline-block; }
}

.hide { display: none; }

.container {
	display: flex; justify-content: center; grid-gap: 1rem; padding: 2rem;
	.btn { padding: 1rem; background-color: cadetblue; cursor: pointer; }
	.btn_use { background-color: gray; }
}
.canvas { display: inline-block; position: relative; }
.crop {
	position: absolute;
	top: 0; left: 0;
	background-color: #00000061;
	//clip-path: circle(200px at 50% 50%);
	//clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
	//clip-path: url("#triangle");
	//clip-path: polygon(0 0, 0 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0);
}
.pull_container {
	.crop_top { position: absolute; height: 4px; border-bottom: 2px solid #525252; /*cursor: n-resize;*/ }
	.crop_right { position: absolute; width: 4px; border-left: 2px solid #525252; cursor: w-resize; }
	.crop_bottom { position: absolute; height: 4px; border-top: 2px solid #525252; cursor: n-resize; }
	.crop_left { position: absolute; width: 4px; border-right: 2px solid #525252; cursor: w-resize; }
	.crop_angle1 { position: absolute; width: 12px; height: 12px; cursor: nw-resize; }
	.crop_angle2 { position: absolute; width: 12px; height: 12px; cursor: ne-resize; }
}

